doctype html
html(lang='en')
  head
    title= bird.primary_name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bird_style.css')
  body
    header
        img(src="/images/kiwi-logo.svg")
        h1 #{bird.primary_name.trim()}

    main 

        #birdcrud

          ul
            li 
              a(href='/') Home

            li 
              a(href=bird.url + '/update') Update this bird

            li.del 
              a(href=bird.url + '/delete') Delete this bird
          

        #birdinfo
          p #[strong #{bird.primary_name}]
          p= bird.english_name
          p= 'Scientific_name: ' + bird.scientific_name
          p= 'Order: ' + bird.order
          p= 'Family: ' + bird.family
          p= 'Status: ' + bird.status
          p= 'Length: ' + bird.size.length.value + ' ' + bird.size.length.units
          p= 'Weight: ' + bird.size.weight.value + ' ' + bird.size.weight.units


        img#birdimg(src=`/${bird.photo.source}`)

        //- form(method='POST' action='')
        //-   div.form-group
        //-     label(for='title') Title:
        //-     input#title.form-control(type='text', placeholder='Name of book' name='title' required='true'  )
        //-   div.form-group
        //-     label(for='author') Author:

        //-   div.form-group
        //-     label(for='summary') Summary:
        //-     input#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true')
        //-   div.form-group
        //-     label(for='isbn') ISBN:
        //-     input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn' ) 

        //-   button.btn.btn-primary(type='submit') Submit


    footer 
        p Data licensed from