doctype html
html(lang='en')
  head
    title= bird.primary_name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bird_style.css')
  body
    header
        img(src="/images/kiwi-logo.svg")
        h1= bird.primary_name

    main 
        #birdinfo
          form(method='POST' action='' enctype="multipart/form-data")
            div.form-group
              label(for='pName') Primary Name:
              input#pName.form-control(type='text', value=bird.primary_name name='primary_name')
            div.form-group
              label(for='eName') English Name:
              input#eName.form-control(type='text', value=bird.english_name name='english_name' )
            div.form-group
              label(for='sName') Scientific Name:
              input#sName.form-control(type='text', value=bird.scientific_name name='scientific_name' )          
            div.form-group
              label(for='order') Order:
              input#order.form-control(type='text', value=bird.order name='Order')
            div.form-group
              label(for='family') Family:
              input#family.form-control(type='text', value=bird.family name='family')          

            div.form-group
                label(for='status') Status:
                select#author.form-control(type='select', placeholder='Select status' name='status' value=bird.status)
                  for status in statuses
                    option(value=status selected=(status===bird.status ? 'selected' : false) ) #{status}

            div.form-group
              label(for='length') Length:
              input#length.form-control(type='text', value=bird.size.length.value name='length')          
            div.form-group
              label(for='weight') Weight:
              input#length.form-control(type='text', value=bird.size.weight.value name='weight')
            div.form-group  
              input.form-control(type="file" name="birdpic") 

            button.btn.btn-primary(type='submit') Submit

        img#birdimg(src=`/${bird.photo.source}`)


    footer 
        p Data licensed from